body {
    background-color: black;
    background-size: cover;
}

#copy {
    color: #fff;
}

.title {
    font-size: 14rem;
}

.subtitle {
    color: #fff;
    text-shadow: 5px 5px 0px #e95858;
    font-size: 6.5rem;
    letter-spacing: 12px;
}

#main {
    margin-top: 5vh;
}

.navigation {
    width: 30vh;
    height: 40vh;
    border: 1px solid #a02323;
}

#right {
    width: 45vh;
    height: 40vh;
}

.begin {
    width: 95%;
    height: 18vh;
    border: 1px solid #a02323;
}