html {
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url(../imges/background/11.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#Outer {
    background-color: #f0bbbbb3;
    border-radius: 15px;
    position: relative;
    max-width: 80%;
    margin: auto;
    height: 100%;
    top: 50vh;
    animation: 1.5s outer;
    padding-bottom: 20vh;
}

@keyframes outer {
    0% {
        top: 40vh;
    }
    100% {
        top: 50vh;
    }
}

.head {
    background-image: url(../imges/head/03.png);
    border: #e65757 8px solid;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    top: -10vh;
    animation: head 1.5s;
}

@keyframes head {
    0% {
        top: -40vh;
    }
    100% {
        top: -10vh;
    }
}

.side {
    background-color: #e65757;
    border-radius: 3rem 0px 0px 3rem;
    flex-direction: column;
    overflow: hidden;
    position: sticky;
    display: flex;
    flex-shrink: 0;
    float: right;
    width: 7rem;
    height: 45rem;
}

.side a {
    overflow: hidden;
    color: #ffffffb3;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 7.5rem;
    font-size: 2rem;
    transition: .3s;
}

.side a:hover {
    background-color: #ffffffb3;
    color: #000000e6;
}

.main {
    width: 70%;
    position: relative;
    margin: auto;
}

.main .t1 {
    font-size: 2.5rem;
    border: 0.5rem solid #e75e5e;
    border-radius: 2rem;
    padding: 0.4rem;
}

.main .t2 {
    margin-top: 5rem;
    font-size: 2.5rem;
    border: 0.5rem solid #e75e5e;
    border-radius: 2rem;
    padding: 0.4rem;
}

th {
    color: #302e2ee6;
    cursor: pointer;
}

.t2 .title {
    color: #302e2ee6;
}

.t2 th {
    color: #3a3636e6;
    width: 30rem;
}

.t2 td {
    width: 60rem;
}

td {
    color: #423a31;
    width: 10rem;
    text-align: center;
    transition: .2s;
}

td:hover {
    background-color: #e75f5fc4;
    color: #f8f7f6;
    cursor: pointer;
}

.toTop {
    width: 20rem;
    position: fixed;
    right: 0;
    bottom: 0
}